html {
  font-size: 50%;
}

.learning_course{
  width: 50%;
  border-radius:2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left:1.5rem;
  background-color: #ff842b;
  text-align: center;
  color:white;
  font-size: 0.8rem;
}

.course-ract{
  height: 20rem;
  border-radius: 1rem;
  border: solid 1px #d8d8d8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.course-ract .row {
  margin-left : 0px;
  margin-right: 0px;
}

.course-ract .row .col{
  padding-right: 0px;
  color : #909090;
  padding-left: 1.5rem;
}


.role-ract{
  height: 17rem;
  border-radius: 1rem;
  border: solid 1px #d8d8d8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.role-ract .row {
  margin-left : 0px;
  margin-right: 0px;
}

.role-ract .row .col{
  padding-right: 0px;
  color : #909090;
  padding-left: 1.5rem;
}

.badge_img{
  height: 20%;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 850px) {
  html { font-size: 60%; }
  .learning_course{ width: 50%;}
  .badge_img{height: 10%;}
}

@media (min-width: 924px) {
  html { font-size: 70%; }
  .learning_course{ width: 45%;}
  .badge_img{height: 15%;}
}

@media (min-width: 1084px) {
  html { font-size: 80%; }
  .learning_course{ width: 40%;}
  .badge_img{height: 18%;}
}

@media (min-width: 1300px) {
  html { font-size: 100%; }
  .learning_course{ width: 35%;}
  .badge_img{height: 20%;}
}


body {
  font-size: 1rem;
  font-family: IBM Plex Sans, system;
  font-weight: normal;
  margin: 0;
}



.row_space{
  height: 5rem;
}

.row_space_content{
  height: 13rem;
}

#title{
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.64px;
  text-align: left;
  color: #272727;
}

#index_title{
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
}

.content_title{
  font-size: 3rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  margin-bottom: 2rem;
}

.role_title{
  font-size: 2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  margin-bottom: 2rem;
}

.index, .index a{
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #909090;
  /* margin-top: 0.5rem; */
  height: 2rem;
}

.border_left {
  border-left: solid;
}

.main_text p{
  font-size: 1.2rem;
  font-family: IBM Plex Sans KR;
}




.associate_level{
  height:20%;
  background-color: #b4df57; 
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left:1.5rem;
  font-size: 1.2rem;
}

.professional_level{
  height:20%;
  background-color: #69dbea; 
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left:1.5rem;
  font-size: 1.2rem;
}

.advanced_level{
  height:20%;
  background-color: #9c7efc; 
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left:1.5rem;
  font-size: 1.2rem;
}



.certification{
  width: 35%;
  border-radius:2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left:1.5rem;
  background-color: #43c912;
  text-align: center;
  color:white;
  font-size: 0.8rem;
}

.course_title{
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.56px;
  text-align: left;
  color: #272727;
  margin-bottom: 2rem;
  height:2.5rem;
}


.role_badge_img{
  height: 10%;
}

.card_space{
  margin-top: 1.5rem;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.obtain_certi {
  text-align: right;
  padding-right: 2rem;
}


.index > .nav-a.active  {
  color:#272727;
  font-weight: bold;
}