body {
  font-family: IBM Plex Sans, system;
  font-weight: normal;
  margin: 0;
}

.row_space{
  height: 5rem;
}

.row_space_content{
  height: 13rem;
}

#title{
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.64px;
  text-align: left;
  color: #272727;
}

#index_title{
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.content_title{
  font-size: 3rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  margin-bottom: 2rem;
}

.role_title{
  font-size: 2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  margin-bottom: 2rem;
}

.index{
  opacity: 0.43;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  margin-top: 0.5rem;
}

.border_left {
  border-left: solid;
}

.main_text p{
  font-size: 1rem;
  font-family: IBM Plex Sans KR;
}

.img_temp{
  height: 20rem;
  background-color: grey;
}

.course-ract{
  height: 20rem;
  border-radius: 1rem;
  border: solid 1px #bab8b8;
}

.course-ract .row {
  margin-left : 0px;
  margin-right: 0px;
}

.course-ract .row .col{
  padding-right: 0px;
  color : #909090;
  padding-left: 1.5rem;
}

.associate_level{
  height:20%;
  background-color: #b4df57; 
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left:1rem;
}

.professional_level{
  height:20%;
  background-color: #69dbea; 
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left:1rem;
}

.advanced_level{
  height:20%;
  background-color: #9c7efc; 
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left:1rem;
}

.learning_course{
  width: 35%;
  border-radius:2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left:1.5rem;
  background-color: #ff842b;
  text-align: center;
  color:white;
  font-size: 0.8rem;
}

.certification{
  width: 35%;
  border-radius:2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left:1.5rem;
  background-color: #606060;
  text-align: center;
  color:white;
  font-size: 0.8rem;
}

.course_title{
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.56px;
  text-align: left;
  color: #272727;
  margin-bottom: 2rem;
  height:2.5rem;
}

.badge_img{
  height: 20%;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.card_space{
  margin-top: 1.5rem;
}
