body {
  font-family: IBM Plex Sans, system;
  font-weight: normal;
  margin: 0;
}

.row_space{
  height: 5rem;
}

.row_space_content{
  height: 13rem;
}

#title{
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.64px;
  text-align: left;
  color: #272727;
}

#index_title{
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
}

.content_title{
  font-size: 3rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  margin-bottom: 2rem;
}

.index{
  opacity: 0.43;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  margin-top: 0.5rem;
}

.border_left {
  border-left: solid;
}

.main_text p{
  font-size: 1rem;
  font-family: IBM Plex Sans KR;
}

.img_temp{
  height: 20rem;
  background-color: grey;
}

